.childbody__container {
    padding: 10px;
}

span {
    font-weight: 700;
    font-size:18px;
    color:#626262;
    padding-right: 8px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.childbody__container > p {
    margin: 0;
    color:grey;
    font-family: sans-serif;
    letter-spacing: 1px;
}